<h2>Produtos</h2>

<table class="product-table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
    </tr>
  </thead>

  <tbody>
    @for (p of products$ | async; track $index) {
      <tr>
        <td>{{ p.name }}</td>
        <td>{{ p.price | currency:'BRL' }}</td>
      </tr>
    }
  </tbody>
</table>

<hr />

<h3>Adicionar Produto (ADMIN)</h3>

<form (ngSubmit)="addProduct()">
  <div>
    <label>Nome:</label>
    <input type="text" [(ngModel)]="name" name="name" required />
  </div>

  <div>
    <label>Preço:</label>
    <input type="number" [(ngModel)]="price" name="price" required />
  </div>

  <button type="submit">Adicionar</button>
</form>
