<h2>Produtos</h2>

<table class="product-table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
    </tr>
  </thead>

  <tbody>
    @for (p of products$ | async; track $index) {
      <tr>
        <td>{{ p.name }}</td>
        <td>{{ p.price | currency:'BRL' }}</td>
      </tr>
    }
  </tbody>
</table>

<hr />

<h3>Adicionar Produto</h3>

<form (ngSubmit)="addProduct()">
  <input
    type="text"
    name="name"
    [(ngModel)]="name"
    placeholder="Nome"
    required
  />

  <input
    type="number"
    name="price"
    [(ngModel)]="price"
    placeholder="Preço"
    required
  />

  <button type="submit">Adicionar</button>
</form>
