<nav class="navbar">
  <div class="logo" routerLink="">
    Loja Top
  </div>

  <div class="actions">

    <!-- 🔓 NÃO LOGADO -->
    @if (!authService.isAuthenticated()) {
      <a routerLink="/login" class="login-btn">Login</a>
    }

    <!-- 🔐 LOGADO -->
    @if (authService.isAuthenticated()) {
      <span class="user-name">
        Olá, {{ authService.getUserName() }} 👋
      </span>

      <button class="login-btn" (click)="logout()">Logout</button>
    }

    <!-- 👑 SOMENTE ADMIN -->
    @if (authService.isAdmin()) {
      <a routerLink="/AddUsuario" class="login-btn">
        Criar Usuário
      </a>
      <a routerLink="/products" class="login-btn">
        Adicionar Roupa
      </a>
    }

  </div>
</nav>
